/* src/styles/header.css */

.app-header {
  width: 100%;
  padding: 20px;
  background-color: var(--header-background);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.5s, color 0.5s;
}

.app-header h1 {
  margin: 0;
  font-size: 24px;
  color: var(--text-color);
  transition: color 0.5s;
  mix-blend-mode: exclusion;
}

.header-controls {
  display: flex;
  align-items: center;
}
