/* 
   ====== DAY (по умолчанию) ======
   :root -> фон белый, текст чёрный 
*/
:root {
  /* Глобальные */
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: rgba(0, 0, 0, 0.05);
  --footer-background: rgba(0, 0, 0, 0.05);

  /* Кнопки */
  --button-background: rgba(0, 0, 0, 0.1);
  --button-text-color: #000000;
  --button-hover-background: rgba(0, 0, 0, 0.2);
  --button-hover-text-color: #ffffff;

  /* GUI */
  --gui-background: rgba(255, 255, 255, 0.2);
  --gui-text-color: #000000;
  --gui-slider-bg: rgba(0, 0, 0, 0.3);
  --gui-slider-fg: rgba(255, 255, 255, 0.2);
  --gui-list-item-bg: rgba(255, 255, 255, 0.3);
  --gui-list-item-bg-hover: rgba(255, 255, 255, 0.4);

  /* Иконки днём */
  --icon-color: #000000;
  --logo-icon-color: #000000;

  /* Для ShaderTitle c exclusion (днём) */
  --shader-title-exclusion-color: #ffffff;

  /* CV (днём) */
  --cv-background: #f0f0f0;
  --cv-text-color: #000000;

  /* Цвет для цифр отработанных лет (день) */
  --job-years-color: #555;

  /* Слайдер и кнопки переключения CV */
  --toggle-background: #f0f0f0;
  --slider-color: #007bff;
}

body.night-theme {
  --background-color: #000000;
  --text-color: #ffffff;
  --header-background: rgba(0, 0, 0, 1);
  --footer-background: rgba(0, 0, 0, 1);

  --button-background: rgba(255, 255, 255, 0.1);
  --button-text-color: #ffffff;
  --button-hover-background: rgba(255, 255, 255, 0.2);
  --button-hover-text-color: #000000;

  --gui-background: rgba(0, 0, 0, 0.2);
  --gui-text-color: #ffffff;
  --gui-slider-bg: rgba(255, 255, 255, 0.3);
  --gui-slider-fg: rgba(0, 0, 0, 0.2);
  --gui-list-item-bg: rgba(0, 0, 0, 0.3);
  --gui-list-item-bg-hover: rgba(0, 0, 0, 0.4);

  --icon-color: #ffffff;
  --logo-icon-color: #ffffff;

  /* ShaderTitle c exclusion (ночью) */
  --shader-title-exclusion-color: #ffffff;

  /* CV (ночью) */
  --cv-background: #1a1a1a;
  --cv-text-color: #ffffff;

  /* Цвет для цифр отработанных лет (ночь) */
  --job-years-color: #bbb;

  /* Слайдер и кнопки переключения CV */
  --toggle-background: #333333;
  --slider-color: #ff6600;
}
