/* styles.css */

/* Сброс отступов и размеров */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Определение переменных для светлой и тёмной тем */
:root {
  /* Светлая тема */
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: rgba(255, 255, 255, 0.8);
  --footer-background: rgba(255, 255, 255, 0.8);
  --button-background: rgba(0, 0, 0, 0.1);
  --button-text-color: #000000;
  /* Добавь дополнительные переменные по необходимости */
}

.dark-theme {
  /* Тёмная тема */
  --background-color: #121212;
  --text-color: #ffffff;
  --header-background: rgba(0, 0, 0, 0.8);
  --footer-background: rgba(0, 0, 0, 0.8);
  --button-background: rgba(255, 255, 255, 0.1);
  --button-text-color: #ffffff;
  /* Добавь дополнительные переменные по необходимости */
}

/* Установка высоты и ширины для html и body */
html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

/* Стиль для фонового канваса шейдера */
.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Размещение за основным содержимым */
  overflow: hidden;
  background-color: transparent; /* Сделаем фон прозрачным */
}

/* Стиль для содержимого главной страницы */
.home-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределение пространства между хедером и футером */
  align-items: center;
  min-height: 100vh; /* Минимальная высота 100% высоты окна */
  width: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1; /* Поверх шейдера */
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

/* Пример использования переменных в других классах */
.app-header {
  background-color: var(--header-background);
  transition: background-color 0.5s;
}

.footer {
  background-color: var(--footer-background);
  transition: background-color 0.5s, color 0.5s;
}

button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

button:hover {
  background-color: var(--button-hover-background, rgba(0, 0, 0, 0.2));
  color: var(--button-hover-text-color, #ffffff);
}
